@model OurMeetingPoint.Models.EventDetail

@{
    ViewBag.Title = Model.Name;
}

<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p class="lead"><span class="glyphicon glyphicon-map-marker"></span> @Model.MeetingPoint.Name ( @Model.MeetingPoint.Address )</p>
    <p class="lead"><span class="glyphicon glyphicon-time"></span> @Model.MeetingDate.ToShortDateString() ( @Model.MeetingDate.DayOfWeek ) </p>
    <button type="button" class="btn btn-primary" id="share-fb"><span class="glyphicon glyphicon-thumbs-up"></span> Share on Facebook</button>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>ID</h2>
        <p class="lead">@Model.ID</p>
        <h2>Description</h2>
        <p class="lead">@Model.Description</p>
    </div>
    <div class="col-md-3">
        <h2>Review</h2>
        @if (Model.MeetingDate < DateTime.Now && !Model.Reviewed)
        {
            <form action="Reviewed" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" name="Review.Title" required />
                </div>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Write down your review" rows="6" style="resize:none" name="Review.Description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="rate">Rate:</label>
                    <input type="number" class="form-control" min="0" max="5" step="1" value="3" name="Review.Rate" id="rate" required />
                </div>
                <input type="hidden" name="Review.EventID" value="@Model.ID" />
                <p class="lead"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Review This Meeting Point</button></p>
            </form>
        }
        else if (Model.MeetingDate > DateTime.Now)
        {
            <p class="lead">You only can review the meeting point after the event finished.</p>
        }
        else if (Model.Reviewed)
        {
            <h4>@Model.Reviews[0].Title <span class="label label-info">@Model.Reviews[0].Rate <span class="glyphicon glyphicon-star"></span></span></h4>
            <p>@Model.Reviews[0].Description</p>
        }
    </div>
    <div class="col-md-6">
        <h2>Map</h2>
        <div id="map" style="width: 480px; height: 480px"></div>
    </div>
</div>

@section Scripts {
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '973517479399771',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        $(document).ready(function () {
            var map;
            var latlng = new google.maps.LatLng(@Model.MeetingPoint.Latitude, @Model.MeetingPoint.Lontitude);
            var mapOptions = {
                zoom: 15,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({
                position: latlng,
                title:"@Model.MeetingPoint.Address"
            });

            // To add the marker to the map, call setMap();
            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
                content: "<h2>@Model.MeetingPoint.Name</h2><p>@Model.MeetingPoint.Address</p>"
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });

            // Facebook not support localhost share, so I just use google instead.
            // Original address will be like http://localhost:59381/Event/Share/{EventID}
            $("#share-fb").click(function(){
                FB.ui({
                    method: 'feed',
                    link: 'http://www.google.com',
                    name: 'Our Meeting Point',
                    caption: 'Please check http://localhost:59381/Event/Share/' + '@Model.ID',
                    description: 'Come and meet me at @Model.MeetingPoint.Name for @Model.Name .'
                });
            });
        });
    </script>
}

