@model OurMeetingPoint.Models.MeetingPointDetail

@{
    ViewBag.Title = Model.Name;
}

<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p class="lead"><span class="glyphicon glyphicon-map-marker"></span> @Model.Address </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Description</h2>
        <p class="lead">@Model.Description</p>
    </div>
    <div class="col-md-6">
        <h2>Map</h2>
        <div id="map" style="width: 480px; height: 480px"></div>
    </div>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD73GKxasbHQsD9PJOBdNDQvP08YlBwYV4&language=en"
            type="text/javascript">
    </script>
    <script>
        $(document).ready(function () {
            var map;
            var latlng = new google.maps.LatLng(@Model.Latitude, @Model.Lontitude);
            var mapOptions = {
                zoom: 15,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({
                position: latlng,
                title:"@Model.Address"
            });

            // To add the marker to the map, call setMap();
            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
                content: "<h2>@Model.Name</h2><p>@Model.Address</p>"
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        });
    </script>
}

